* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #2F3438;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 250px;
    background-color: #373C3F;
    padding: 4px 3px;
} 

.sidebar .top .logo{
    color: #fff;
    display: flex;
    top: .4rem;
    height: 60px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    margin-left: 10px;
    font-size: 18px;
}

.sidebar .top .menu i{
    position: absolute;
    color: #fff;
    display: flex;
    top: .4rem;
    height: 60px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    left: 70%;
    font-size: 18px;
    cursor: pointer;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 5px auto;
    line-height: 40px;
    border-radius: 10px;    
}

.sidebar ul li a {
    color: #fff;
    display: block;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
}

.sidebar .account {
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: absolute;
}

.dashboard {
    background-color: #017A53;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.account .logout-text {
    color: #fff;
}

.account .logout {
    color: #fff;
    position: absolute;
    font-size: 18px;
}